::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #3b4453;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: lighten(#3b4453, 5%);
}
::-webkit-scrollbar-thumb:active {
  background-color: lighten(#3b4453, 8%);
}

//windows 平台设置滚动条样式
.Win32 {
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    background-color: hsla(0, 0%, 0%, .4);
    background-clip: content-box;
    border-radius: 6px;
    min-height: 60px;
    min-width: 60px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: hsla(0, 0%, 0%, .5);
  }
  ::-webkit-scrollbar-thumb:active {
    background-color: hsla(0, 0%, 0%, .6);
  }
}

// 滚动条占据位置
.scroll {
  overflow-y: auto;
  overflow-y: overlay; // 兼容，滚动条绘制在内容之上，而不是占据空间
  scrollbar-gutter: stable; // 滚动条保留空间
}
