@import "variable";
body, h1, h2, h3, h4, h5, h6, dl, dd, ul, ol, p, blockquote, form, fieldset, figure, button {
  margin: 0;
}

ul, ol, menu, th, td, legend, fieldset {
  padding: 0;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  font: #{$font-size-base}/#{$line-height-base} $font-family-base;
  word-wrap: break-word;
  color: $text-color;
}

ul, ol, menu {
  list-style-type: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
  color: darken($link-color, 10%);
}
